* {
  box-sizing: border-box;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  background-color: hsla(0, 0%, 100%, .05);
  color: hsla(0, 0%, 100%, .5);;
}