* {
  box-sizing: border-box;
}

html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  background-color: hsla(0, 100%, 0%, .2);
  color: hsla(0, 0%, 100%, .5);
}

main {
  width: clamp(30rem 50% 60rem);
  margin: 3rem 0 0 3rem;
}

h1 {
  font-size: 4rem;
  margin-bottom: 3rem;
  color: hsla(0, 0%, 100%, .1);
}

main > section {
  width: 33.4rem;
  border: 1px solid hsla(0, 0%, 100%, .1);
  border-radius: 20px;
  box-shadow: 0px 0px 20px hsla(0, 0%, 100%, .1);
  background-color: hsla(0, 100%, 0%, .01);
}

.display-container {
  height: 11rem;
  padding: 0 1rem;
}

.display {
  height: 6rem;
  font-size: 3.8rem;
  font-weight: 700;
  text-align: right;
  letter-spacing: .3rem;
}

.result {
  height: 5rem;
  font-size: 2.5rem;
  text-align: right;
  letter-spacing: .3rem;
}

.buttons-container {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.buttons-container button {
  font-size: 2.8rem;
  font-weight: 600;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.math-operator-button {
  background-color: hsla(0, 0%, 100%, .04);
}

.buttons-container button:not(.math-operator-button) {
background-color: hsla(0, 0%, 100%, .08);
}